<h1>{{othervalue}}</h1>

{{#each cats}}

<div>
    name: {{name}}
</div>
<div>
    age: {{age}}
</div>
<div>
    bio: {{bio}}
</div>
<div>
    Date of birth: {{dateOfBirth}}
</div>
<div>
    <a href="/cat/edit/{{id}}">edit</a>
    <a href="/cat/diet/{{id}}">diet</a>
</div>
<br>

{{/each}}